
body{
	font-family: Courier New, Courier, monospace;
	font-size: 24;
	background-color: black;
	color: white;
}

ul{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	list-style-position: none;
	list-style: none;
}


.cursor{
	background-color: #666;
}

.prompt{
	color: #aaa;
}


/* Links and buttons */
:link,
:visited{
	color: inherit;
	text-decoration: none;
}
:link:hover{
	text-decoration: underline;
}
button.link{
	font-family: inherit;
	font-size: inherit;
	background-color:inherit;
	border: none;
	color: inherit;
	padding: 0;
}
button.link:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* Statuses */
.status{
	color: #666;
}
.status.started,
.status.running {
	color: #ffff00;
}
.status.succeeded{
	color: #00ff00;
}
.status.failed{
	color: #ff0000;
}


.log .info{
	color: #ffffff;
}
.log .error{
	color: #ff0000;
}
.comment{
	color: green;
}



